[data-theme="dark"] {
    background-color: #1b1d2b !important;
    color: #eee;
  }
  
  
  [data-theme="dark"] .logowhite {
    display: inherit !important;
  }
  
  [data-theme="dark"] .logoblack {
    display: none !important;
  }